{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid px-0"> 
    <div class="p-5" style="background-color: #61677A;">
        <h1 class="text-center text-white">About Us</h1>
        <p class="text-center text-white"><a href="/" class="text-decoration-none text-white fw-bold">Home</a> / About Us</p>
    </div>

    <div class=" px-0 ">
        <div class="row  ">

            <div class="col-12 col-lg-6 mb-3">
              <img src="{% static 'images/about-us.jpg' %}" alt="image" class="img-fluid">
            </div>

            <div class="col-12 col-lg-6">
                <div class="container py-5">
                  <div class="row">
                      <div class="col-md-9 mx-auto">
                          <h1 class="fw-bold">Welcome to Solar Tech Experts</h1>
                          <hr>
                          <p class="fs-5">At our core, we are dedicated to providing leading solar energy solutions. With a focus on innovation and sustainability, we strive to revolutionize the way the world harnesses solar power.</p>
                          <p class="fs-5 mb-5">In our mission to advance solar technology, we offer a comprehensive range of services tailored to meet the unique needs of our clients. From initial consultation to system design, installation, and ongoing support, we are committed to delivering reliable, efficient, and environmentally-friendly solutions.</p>
                          
                         
              
                          <div class="row mt-4">
                              <div class="col-auto pr-3">
                                  <i class="fas fa-leaf fa-lg"></i>
                              </div>
                              <div class="col">
                                  <p class="fs-6 mb-0">Get A Free Quote with minimum cost estimation From Our Qualified Designers</p>
                              </div>
                          </div>
              
                          <div class="row mt-4">
                              <div class="col-auto pr-3">
                                  <i class="fas fa-leaf fa-lg"></i>
                              </div>
                              <div class="col">
                                  <p class="fs-6 mb-0">Provides 30 Years of Panel Warrenty</p>
                              </div>
                          </div>
              
                          <div class="row mt-4">
                              <div class="col-auto pr-3">
                                  <i class="fas fa-leaf fa-lg"></i>
                              </div>
                              <div class="col">
                                  <p class="fs-6 mb-0">Enjoy The Lowest Prices of PV Solar </p>
                              </div>
                          </div>
                          <div class="row mt-4">
                              <div class="col-auto pr-3">
                                  <i class="fas fa-leaf fa-lg"></i>
                              </div>
                              <div class="col">
                                  <p class="fs-6 mb-0">Providing MCS-Certified Installation And Paperwork </p>
                              </div>
                          </div>
                      </div>
                </div>
            </div>
          </div>
          
    </div>
   
    <div style="background-color: #F4F4F6;">
      <div class="container">
          <h1 class="text-center p-5">HOW WE WORKS</h1>
          <div class="row pb-5">
            <div class="col-sm-3 mb-2">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">1. Request for Quotation</h5>
                  <span> The quotation request should include property details or requirements.</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mb-2">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">2. Quotation Review</h5>
                  <span class="card-text">Our staff will review the request and make verification calls.</span>
                </div>
              </div>
              
            </div>
            
            <div class="col-sm-3 mb-2">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">3. Techinical Assessment</h5>
                  <span class="card-text">Our technical team will assess the requirements and provide a price quotation with the minimum cost, and this service is completely free of charge.</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mb-2">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">4. Send Quotation for Review</h5>
                  <span class="card-text">After the assessment is done, the client will receive an email from SteUK for review purposes.</span>
                </div>
              </div>
            </div>

            <div class="col-sm-3 mb-2">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">5. Place Work Order</h5>
                  <span class="card-text">After the client agrees to the proposal, they are required to place an order and make a payment of 50% of the quotation value.</span>
                </div>
              </div>
            </div>
            <div class="col-sm-3 mb-2">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">6. Maintenance & Warranty Support</h5>
                  <span class="card-text">Caring for your system, our expert technicians conduct regular inspections, cleanings, and promptly address any issues</span>
                </div>
              </div>
            </div>
          </div>
      </div>


    </div>
  
    <div >
          <h1 class="text-center p-5">OUR TEAM</h1>
      
          <div class="container">
            <div class="row pb-5">
              <div class="col-sm-4 mb-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">MAH KHAN</h5>
                    <p class="card-text">Founder & CEO</p>
                  
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">LOHITHA</h5>
                    <p class="card-text">Technical Support</p>
              
                  </div>
                </div>
              </div>
              <div class="col-sm-4 mb-2">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">AISHWARYA</h5>
                    <p class="card-text">Business Development Manager</p>
                  
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
    

</div>





{% endblock content %}