{% extends 'base.html' %}
{% load static %}
{% block content %}
        
<!--Slider-->

<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-bs-interval="4000"> <!-- Set interval to 5000 milliseconds (5 seconds) -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="overlay"></div>
      <img src="{% static 'images/Slider-1.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="text-left fw-bold bigger-heading">Feel the Power of Sun</h1>
        <span class="text-left fs-1">Stop Feeding the Energy to Meter!</span>
        <span class="text-left fs-2">You can save 90% with Solar Energy!</span>
        <a href="{% url 'formItems' %}" class="btn btn-warning btn-lg mt-2">GET YOUR FREE QOUTE!</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="overlay"></div>
      <img src="{% static 'images/Slider-2.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="text-left fw-bold bigger-heading">Solar System Solution Provider</h1>
        <span class="text-left fs-1">Stop Feeding the Energy to Meter!</span>
        <span class="text-left fs-2">You can save 90% with Solar Energy!</span>
        <a href="{% url 'formItems' %}" class="btn btn-warning btn-lg mt-2">GET YOUR FREE QOUTE!</a>
      </div>
    </div>
    <div class="carousel-item">
      <div class="overlay"></div>
      <img src="{% static 'images/Slider-3.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h1 class="text-left fw-bold bigger-heading">Feel the Power of Sun</h1>
        <span class="text-left fs-1">Stop Feeding the Energy to Meter!</span>
        <span class="text-left fs-2">You can save 90% with Solar Energy!</span>
        <a href="{% url 'formItems' %}" class="btn btn-warning btn-lg mt-2">GET YOUR FREE QOUTE!</a>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!--End Slider-->

<!--Product Category-->
<div class="container-fluid">
  <div class="container pt-5">
      <h1 class="text-center pb-5 fw-bold">OUR PRODUCTS</h1>
      <p class="text-center fs-4 ">Solar Tech UK provies high quality products, renewable power, reducing carbon footprints & often lowering electricity bills.</p>
      <div class="my-5">
        <div class="row pb-3 mb-3 justify-content-center">
          {% for cat in categories  %}
          <div class="col-sm-2 mb-3 text-center">
            <div class="card shadow-sm category h-100" >
              <img src="{{cat.images.url}}" class="card-img-top" alt="...">
              <div class="card-body">
                <h6 class="card-title">{{cat.name}}</h6>
                <a href="{% url 'product_list' cat.id %}" class="btn btn-primary">Check More</a>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
  </div>
</div>
<!--End Category-->


<!--call of action-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12 bg-image">
      <div class="center-text">
        <h1>Illuminate Your Home With Sustainable Energy, No Down Payment Required</h1>
        <p class="fs-4">Embrace the transformative power of solar energy and revolutionize your energy consumption without any upfront costs.<br> Our comprehensive financing options make solar power accessible to everyone, empowering you to embrace a sustainable future without straining your finances.</p>
        <button class="btn btn-success btn-lg">Let's Share Your Requirements</button>
      </div>
    </div>
  </div>
</div>
<!--call of action-->

<!--Installation Guide-->



<div class="container-fluid">
  <div class="container py-5">
    <h1 class="text-center p-5">Solar System Installation Process</h1>
    <div class="row">
      <!-- Step 1: Evaluation & Consultation -->
      <div class="col-lg-4 mb-3">
        <div class="card h-100 bg-light">
          <div class="card-body d-flex flex-column align-items-center">
            <div class="flex-shrink-0">
              <i class="fas fa-search text-primary fa-3x"></i>
            </div>
            <div class="flex-grow-1 text-center">
              <h5 class="card-title mt-3">Evaluation & Consultation</h5>
              <p class="card-text mt-3">Begin by assessing the feasibility of solar installation for the property. Evaluate factors such as roof orientation, available space, and energy requirements through a comprehensive consultation process.</p>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Step 2: Custom Design & Proposal -->
      <div class="col-lg-4 mb-3">
        <div class="card h-100 bg-light">
          <div class="card-body d-flex flex-column align-items-center">
            <div class="flex-shrink-0">
              <i class="fas fa-pencil-alt text-success fa-3x"></i>
            </div>
            <div class="flex-grow-1 text-center">
              <h5 class="card-title mt-3">Custom Design & Proposal</h5>
              <p class="card-text mt-3">Develop a personalized solar system design that aligns with the homeowner's needs and preferences. Present a detailed proposal outlining the system specifications, estimated energy production, financial investment, and potential returns.</p>
            </div>
          </div>
        </div>
      </div>
  
      <!-- Step 3: Financial Planning & Permitting -->
      <div class="col-lg-4 mb-3">
        <div class="card h-100 bg-light">
          <div class="card-body d-flex flex-column align-items-center">
            <div class="flex-shrink-0">
              <i class="fas fa-money-bill-wave text-warning fa-3x"></i>
            </div>
            <div class="flex-grow-1 text-center">
              <h5 class="card-title mt-3">Financial Planning & Permitting</h5>
              <p class="card-text mt-3">Assist the homeowner in exploring financing options and incentives available for solar installation. Guide them through the process of obtaining necessary permits and approvals from local authorities to ensure compliance with regulations.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card h-100 bg-light">
          <div class="card-body d-flex flex-column align-items-center">
            <div class="flex-shrink-0">
              <i class="fas fa-tools text-info fa-3x"></i>
            </div>
            <div class="flex-grow-1 text-center">
              <h5 class="card-title mt-3">Professional Installation</h5>
              <p class="card-text mt-3">Execute the installation process with precision and expertise. Securely mount solar panels on the designated area, install inverters, and meticulously connect all components to create a seamless solar energy system.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card h-100 bg-light">
          <div class="card-body d-flex flex-column align-items-center">
            <div class="flex-shrink-0">
              <i class="fas fa-clipboard-check text-danger fa-3x"></i>
            </div>
            <div class="flex-grow-1 text-center">
              <h5 class="card-title mt-3">Thorough Inspection & Activation</h5>
              <p class="card-text mt-3">Ensure system integrity and proper functionality through comprehensive inspections. Test the performance of solar panels and inverters. Once approved, activate the system and ensure seamless operation.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 mb-3">
        <div class="card h-100 bg-light">
          <div class="card-body d-flex flex-column align-items-center">
            <div class="flex-shrink-0">
              <i class="fas fa-shield-alt text-secondary fa-3x"></i>
            </div>
            <div class="flex-grow-1 text-center">
              <h5 class="card-title mt-3">Regular Maintenance & Warranty Support</h5>
              <p class="card-text mt-3">Offer after-sales support by performing regular maintenance checks to ensure optimal system performance. Address any issues or concerns promptly to ensure the long-term viability of the solar energy system.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--End Installation Guide-->


<!--Why Us-->
<div class="container-fluid" style="background-color:#F0F3FF;">

  <div class="row d-flex align-items-center justify-content-center">
  
    <div class="col-sm-12 col-md-6 px-0 d-flex justify-content-center align-items-center position-relative" style="background-image: url('{% static 'images/Why-us.jpg' %}'); background-size: cover; background-position: center; height: 70vh;">
      <div class="text-center">
        <h1 class=" text-light pb-3">IT'S TIME TO CONTACT US!</h1>
        <button class="btn btn-light btn-lg">Contact Us</button>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 p-5">
      <h1 class="py-3">Why Choose Solar Tech Experts</h1>
      <div class="row mt-4 d-flex align-items-center">
        <div class="col-auto pr-3">
          <i class="fas fa-leaf fa-lg"></i>
        </div>
        <div class="col">
          <p class="fs-5 mb-0">At Solar Tech Experts, we lead the way in solar innovation, providing our clients with cutting-edge technology solutions.</p>
        </div>
      </div>
      <div class="row mt-4 d-flex align-items-center">
        <div class="col-auto pr-3">
          <i class="fas fa-leaf fa-lg"></i>
        </div>
        <div class="col">
          <p class="fs-5 mb-0">Our commitment to sustainability is unwavering. With Solar Tech at the forefront, we drive the transition towards a cleaner, greener future.</p>
        </div>
      </div>
      <div class="row mt-4 d-flex align-items-center">
        <div class="col-auto pr-3">
          <i class="fas fa-cogs fa-lg"></i>
        </div>
        <div class="col">
          <p class="fs-5 mb-0">Experience the difference with our team of dedicated professionals who continuously strive to deliver the latest advancements in solar technology.</p>
        </div>
      </div>
    </div>
  </div>
  

</div>
<!--End Why Us-->

<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.bundle.min.js"></script>
{% endblock content %}