{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid px-0"> 
    
    <div class="p-5" style="background-color: #61677A;">
        <h1 class="text-center text-white">Packages</h1>
        <p class="text-center text-white"><a href="/" class="text-decoration-none text-white fw-bold">Home</a> / Packages</p>
    </div>

    <div>
            <h2 class="text-capitalize text-center p-5">Coming Soon---------</h2>
    </div>

  
    
</div>





{% endblock content %}