{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="container-fluid px-0"> 
    
    <div class="p-5" style="background-color: #61677A;">
        <h1 class="text-center text-white"><a href="/" class="text-decoration-none text-white fw-bold">Back to Home</a> </h1>
        <p class="text-center text-white"><a href="/" class="text-decoration-none text-white fw-bold">Home</a> / Services</p>
    </div>

    <div class="container my-5 ">
        <div class="alert alert-success" role="alert">
            <h1 class="text-center">Thank You!</h1>
             <p class="text-center">Your message has been successfully submitted. One our executive will contact you shortly!</p>
          </div>
    </div>
    
</div>





{% endblock content %}